// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-description {
  .avatar {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  h4 {
    margin-bottom: 5px;
  }
  .description {
    margin-left: 90px;
  }
}